* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-image: url(images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
}

.wrapper-container{
    display: flex;
    margin: 10rem ;
    gap: 5rem;

}

.article-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: white;
}


.article-heading{
    font-weight: 700;
}

.article-text{
    font-weight: 400;
    font-size: 15px;
}

.form-container{
    background-color: aqua;
    height: 30rem;
    width: 30rem;
}
